:root {
  --soft-blue: hsl(215, 51%, 70%);
  --cyan: hsl(178, 100%, 50%);
  --main-bg: hsl(217, 54%, 11%);
  --card-bg: hsl(216, 50%, 16%);
  --line: hsl(215, 32%, 27%);
  --white: hsl(0, 0%, 100%);
}

html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0px;
  padding: 0px;
  height: 100vh;
  font-family: 'Outfit', sans-serif;
  font-size: 15px;
  font-weight: 300;
  background-color: var(--main-bg);
  display: grid;
  place-items: center;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 350px;
  width: 100%;
  background-color: var(--card-bg);
  color: var(--soft-blue);
  padding: 1.5rem;
  padding-bottom: 2rem;
  border-radius: 20px;
  display: grid;
  row-gap: 1rem;
  box-shadow: 2px 2px 5rem #000000;
  position: relative;
}

.main-equilibrium {
  margin-bottom: 0.5rem;
  position: relative;
}

.main-equilibrium div {
  position: absolute;
  top: 0px;
  background-color: hsla(178, 100%, 50%, 0.5);
  width: 100%;
  height: 98.5%;
  z-index: 999;
  border-radius: 20px;
  opacity: 0;
  transition: all 200ms ease-in-out;
  display: grid;
  place-items: center;
}

.main-equilibrium div:hover {
  opacity: 1;
  cursor: pointer;
}

.nft-img {
  position: relative;
  border-radius: 20px;
}

.img-block:hover {
  opacity: 75%;
}

h2,
p {
  margin: 0;
}

h2 {
  color: var(--white);
  font-weight: 600;
}

h2:hover,
.creator-name:hover {
  opacity: 80%;
  color: var(--cyan);
  cursor: pointer;
}

div.row-1 {
  display: flex;
  justify-content: space-between;
}

div.row-1 > div {
  display: flex;
  align-items: center;
  gap: 8px;
}

div.row-1 > div:first-child {
  color: var(--cyan);
  font-weight: 400;
}

.line {
  width: 100%;
  height: 1.5px;
  background-color: var(--line);
  margin-top: 0.5rem;
}

div.row-2 {
  display: flex;
  align-items: center;
  gap: 1rem;
}

div.row-2 > img {
  width: 10%;
  border: 1px solid var(--white);
  border-radius: 50%;
}

.creator-name {
  color: var(--white);
}

#attribution {
  position: absolute;
  bottom: 5%;
  font-size: 0.9rem;
  text-align: center;
  color: hsl(0, 0%, 100%);
}

#attribution a {
  color: hsl(228, 100%, 77%);
}

@media screen and (max-width: 768px) {
  body {
    font-size: 15px;
  }
  p {
    font-size: 16px;
  }
  .container {
    max-width: 300px;
    padding: 1.5rem;
  }
}
